/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../img/plantilla/bearded-manager-using-digital-tablet.jpg");
    background-size: cover;
    background-position: center center;
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.3));
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}

h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

.control button{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
}

.control button[type="submit"]{
    background: crimson;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .8;
    transition: opacity .3s ease;
}

.control button[type="submit"]:hover{
    opacity: 1;
}

.link{
    text-align: center;
}

.link a{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: opacity .3s ease;
}

.link a:hover{
    opacity: 1;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;

}

section .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #cfacb8, #657177);
    z-index: 1;
    mix-blend-mode: screen;
}

section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

section .contentBx .formBx{
    width: 50%;
}

section .contentBx .formBx h2{
    color: #607d8b;
    font-weight: 600;
    font-size: .6em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #607d8b;
    letter-spacing: 1px;
    text-align: right;
    align-items: flex-end;
}

section .contentBx .formBx img{
    position: relative;
    width: 75%;
    height: 100%;
    text-align: center;
    margin-bottom: 3px;
}

section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input, button {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentBx .formBx .inputBx button[type="submit"]{
    background: #607d8b;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx button[type="submit"]:hover{
    background: #4f7588;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx p {
    color: #607d8b;
    text-align: center;
}

section .contentBx .formBx .inputBx p a{
    color: #607d8b;
}

section .contentBx .formBx .inputBx p a:hover{
    color: #3d5c6b;
}

@media (max-width: 768px){
    section .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBx .formBx{
        width: 100%;
        padding: 40px;
        background: #fff;
        margin: 50px;
    }
    /* .imgLogo{
        display: none;
    } */
}