.imgUserLog{
    display: flex;
    justify-content: center;
}

.spanMailLog{
    display: flex;
    justify-content: center;
}

.cabeceraPerfilLogeado{
    display: flex;
    justify-content: center;
    background-color: rgba(133, 148, 163, 0.178);
    color: #ffffff;
}

.nombreMenuUserLog0{
    margin-bottom: -5px;
}

.nombreMenuUserLog1{
    margin-top: -8px;
}

.nombreMenuUserLog2{
    margin-top: -7px;
}

.hrAnaliticaSitio{
    margin-top: -1px;
    margin-bottom: -5px;
}

.justificar404{
    text-align: justify;
}

.tamImagenHeader{
    width: 160px;
    height: 160px;
}

.tamImgListas{
    width: 110px;
    height: 110px;
    border-radius: 10px;
}

.alinearCeldaLista{
    text-align: center;
    align-items: center;
}

.imagenPrevia{
    margin: 0 auto;
    justify-content: center;
    width:  275px;
}

.imagenPreviaBanner{
    margin: 0 auto;
    justify-content: center;
    width:  500px;
}

.imagenPreviaPlanes{
    margin: 0 auto;
    justify-content: center;
    width:  350px;
}

.imagenPreviaCategorias{
    margin: 0 auto;
    justify-content: center;
    width:  400px;
}

.lineaPImgAdmin{
    margin-top: -10px;
}

.imgPanel{
    margin-top: -5px;
}

.estiloTablasGeneral{
    text-align: center;
    background-color: #3D454C; 
    color: white;
}


/*iChek Personalizado*/
/* iCheck plugin Flat skin, blue
----------------------------------- */
.icheckbox_flat-blue,
.iradio_flat-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-blue {
    background-position: 0 0;
}
    .icheckbox_flat-blue.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-blue.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-blue.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-blue {
    background-position: -88px 0;
}
    .iradio_flat-blue.checked {
        background-position: -110px 0;
    }
    .iradio_flat-blue.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-blue.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-blue,
    .iradio_flat-blue {
        background-image: url(blue@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}
